<h1>Hello world</h1>
<p>Find me in app/views/demo/index.html.erb</p>
<a href="/demo/hello"> hello page</a>
</br>
<%= link_to("hello page via Link helper", {:action => 'hello'})%>

</br>
<%= link_to("testHello page via Link helper", {:action => 'testHello'})%>

</br>
<%= link_to("link with parameters", {:action => 'hello', :page => 50, :id => 20})%>
</br>

